# .gitignore

# VS Code directory
.vscode/

# Environment variables
.env

# Google Service Account Key (JSON)
*.json

# Python cache and virtual environments
__pycache__/
venv/
.venv
*.py[cod]

# OS specific files
.DS_Store
Thumbs.db